.container {
  height: 400px;
  width: 400px;
  padding: 5px;
}
.container form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
label {
  font-weight: bold;
}

input[type="text"] {
  font-weight: bold;
  border: none;
  border-bottom: 1px solid black;
  padding: 5px 5px 0 5px;
  margin-bottom: 10px;
}
input[type="text"]:focus {
  outline: none;
  border-bottom: 1px solid lightgreen;
}
.kontakta-oss {
  text-align: center;
}
