.portfolio {
    width: 100%;
    margin: 96px 0;
}

.portfolio .car {
    display: flex;
    margin-bottom: 48px;
}

.portfolio .car:nth-child(even) {
    flex-direction: row-reverse;
    background-color: rgba(0, 0, 0, 0.03);
    padding: 48px;
    border-radius: 4px;
}

.portfolio .car:last-child {
    margin-bottom: 0;
}

.portfolio .car .description {
    width: 100%;
}

.portfolio .car .description .read-more {
    background-color: #131313;
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    border-radius: 4px;
    padding: 12px 24px;
    margin-top: 12px;
    display: inline-block;
    transition: background-color 0.2s ease;
}

.portfolio .car .description .read-more:hover {
    background-color: #303030;
}